html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

#cible {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
    top: 50%;
    left: 50%;
}

pre {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 10px;
}

video {
    position: fixed;

    top: 0;
    left: 0;


}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

